doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Sample Site
  body
    .header
      h1.page-title Sample Site

    ul.nav
      li: a(href='/') Home
      li: a(href='#tech') Tech
      li: a(href='#aboutus') About Us
      li: a(href='#contact') Contact Us

    .main-content
      block content

    .footer
      p Copyright Information
